###
# #%L
# ST2WSI_Registration plugin for Fiji.
# %%
# Copyright (C) 2024 WSInsight developers.
# %%
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public
# License along with this program.  If not, see
# <http://www.gnu.org/licenses/gpl-3.0.html>.
# #L%
###
# Name: ST2WSI_Registration

# Spatial Transcriptomics to Whole Slide Image Registration
# Registers DAPI images from spatial transcriptomics to H&E WSI

# Author: Chao-Hui Huang <chaohuihuang@gmail.com>
# Based on: bUnwarpJ by Ignacio Arganda-Carreras and Jan Kybic
# Version: 1.0
# Date: 2024
# Requires: ImageJ, Bio-Formats, bUnwarpJ, MPICBG

Plugins>Registration, "ST2WSI Registration", st2wsi_registration.ST2WSI_Registration
